// primary, secondary, tertiary, quaternary

$white:           #FAF9F9;
$black:           black;
$gray:            gray;
$light-gray:      lightgray;

// color schema 1
$pri:             #004369;
$sec:             #01949A;
$ter:             #ADD2C9;
// $qua:            #FAF9F9;

$body-background:   $white;
$body-text-color:   $black;
// $borders;
// $form-control-color;
// $form-control-bg;
