// Define variables for your color scheme

// For example:

// color schema 1
$pri: #0D6EFD;
$sec: #0E0000;
$white: white;
$black: black;


$red: #FD1015;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$light-gray: #F4F4F4;
