// Define variables for your color scheme
// primary, secondary, tertiary, quaternary

// For example:

$white: white;
$black: black;
$gray:  gray;

// color schema 1
$pri: #0D6EFD;
$sec: #0E0000;
$ter: white;
// $qua: ;




$body-background: $white;
$body-text-color: $black;
// $borders;
// $form-control-color;
// $form-control-bg;

