.body-container, .sub-category-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  margin: auto;
  padding: 110px 20px 50px 20px;

  a {
    text-decoration: none;
    color: $pri;

    &:hover {
      color: $sec;
    }
  }
}

.devise-container {
  width: 30%;
}

.dashboard-search {
  display: flex;
  width: 100%;
}

.categories, .sub-categories {
  margin: 70px 0px;
  gap: 40px 0px;
  width: 100%;
}

.category, .sub-category {
  padding: 20px 20px;
  min-width: 120px;
}

.category-link, .sub-category-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  i {
    font-size: 40px;
  }

  span {
    margin-top: 10px;
  }
}

.trending, .all-posts {
  display: flex;
  margin: 40px 0px;
}

.trending-card, .all-posts-card {
  display: flex;
  justify-content: center;
}

.trending-link, .all-posts-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;

  img {
    float: left;
    width:  270px;
    height: 200px;
    object-fit: cover;
    object-position: 50% 50%;
  }
}

.trending-location, .all-posts-location {
  font-size: 12px;
  margin: 5px 0px;
}

.trending-description, .all-posts-description {
  font-weight: 600;
  margin: 0px 0px 5px 0px;
}
