.body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  margin: auto;
  padding: 110px 20px 50px 20px;

  a {
    text-decoration: none;
    color: $pri;

    &:hover {
      color: $sec;
    }
  }
}

.devise-container {
  width: 30%;
}

.dashboard-search {
  display: flex;
  width: 100%;
}

.categories {
  justify-content: center;
  margin: 70px 0px;
}

.category-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;

  i {
    font-size: 40px;
  }

  span {
    margin-top: 10px;
  }
}

.trending {
  display: flex;
  justify-content: center;
  margin: 40px 0px;
}

.trending-card {
  display: flex;
  justify-content: center;
}

.trending-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;

  img {
    width: 100%
  }
}

.trending-location {
  font-size: 12px;
  margin: 5px 0px;
}

.trending-description {
  font-weight: 600;
  margin: 0px 0px 5px 0px;
}
