  .body-container, .sub-category-container {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: auto;
  padding: 110px 20px 50px 20px;
  width: 100%;

  a {
    text-decoration: none;
    color: $pri;

    &:hover {
      color: $sec;
    }
  }
}

.devise-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.dashboard-search {
  display: flex;
  width: 100%;
  padding: 0px 20px;

  form {
    width: inherit;
  }
}

.categories, .sub-categories {
  margin: 70px 0px;
  gap: 40px 0px;
  width: 100%;

  .empty-cat {
    display: none;
  }
}

.category, .sub-category {
  padding: 20px 20px;
  min-width: 120px;
}

.category-link, .sub-category-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  i {
    font-size: 40px;
  }

  span {
    margin-top: 10px;
  }
}

.trending, .all-posts {
  display: flex;
  margin: 0px 0px;

  a {
    color: $black;
    align-items: center;
  }

  img {
    &:hover {
      transition: 500ms;
      filter: brightness(1.05) contrast(1.15) saturate(1.15);
    }
  }
}

.trending-card, .all-posts-card {
  display: flex;
  justify-content: center;
  // flex-direction: column;

  .post-details {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.trending-link, .all-posts-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 10px;

  img {
    float: left;
    width:  270px;
    height: 200px;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 5px;
  }

  span {
    font-size: 12px;
  }
}

.trending-location, .all-posts-location {
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 0px;
}

.trending-description, .all-posts-description {
  font-weight: 500;
  margin: 0px;
}

.mobile-nav {
  display: none;
  position: fixed;
  z-index: 99;
  bottom: 0;
  width: 100vw;
  padding: 15px 30px;
  background-color: $body-bg;

  .mobile-nav-links {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 100%;
    margin: 0px;
    padding: 0px;
  }

  i {
    font-size: 22px;
  }
}

.mobile-logo {
  display: none;
}

@media only screen and (max-width: 600px) {
  .body-container {
    padding: 0px 0px;
  }

  .categories {
    justify-content: center;

    .empty-cat {
      display: flex;
    }
  }

  .navbar-container {
    display: none;
  }

  .mobile-nav {
    display: flex;
  }

  .dashboard-search {
    position: fixed;
    z-index: 99;
    background-color: $body-bg;
    flex-direction: column;
    padding-bottom: 10px;
  }

  .mobile-logo {
    display: flex;
    justify-content: center;
    padding: 10px 0px;

  }

  .categories, .sub-categories {
    margin: 90px 0px 20px 0px;
    gap: 0px 0px;
  }

  .trending-link, .all-posts-link {

    img {
      width: 90vw;
    }
  }

  .devise-container {
    .devise-links {
      width: 80vw;
    }

    form {
      width: 80vw;
    }
  }

  footer {
    display: none;
  }
}
