<div class="body-container">
  <div class="dashboard-search">
    <input class="form-control" type="search" placeholder="Search for stuff" arialabel="search">
    <button class="btn btn-primary" type="submit" arialabel="search">Search</button>
  </div>

  <div class="row row-cols-4 categories">
    <a href="#" class="col category-link">
      <i class="fa-solid fa-bicycle"></i>
      <span>Bicycles</span>
    </a>
    <a href="#" class="col category-link">
      <i class="fa-solid fa-mobile"></i>
      <span>Electronics</span>
    </a>
    <a href="#" class="col category-link">
      <i class="fa-solid fa-house-chimney-window"></i>
      <span>Home</span>
    </a>
    <a href="#" class="col category-link">
      <i class="fa-solid fa-dog"></i>
      <span>Pets</span>
    </a>
    <a href="#" class="col category-link">
      <i class="fa-solid fa-volleyball"></i>
      <span>Sports</span>
    </a>
    <a href="#" class="col category-link">
      <i class="fa-solid fa-car-side"></i>
      <span>Vehicles</span>
    </a>
    <a href="#" class="col category-link">
      <i class="fa-solid fa-briefcase"></i>
      <span>Work</span>
    </a>
    <a href="#" class="col category-link">
      <i class="fa-solid fa-sailboat"></i>
      <span>Boats</span>
    </a>
  </div>

  <div class="trending">
    <p>trending</p>
  </div>
</div>
