.footer-container {
  background-color: $pri;
  color: $white;
}

footer {
  font-size: 12px;
  margin: 100px 100px 0px 100px;

  a {
    text-decoration: none;
    color: $white !important;

    &:hover {
      color: $sec !important;
    }
  }

  .btn-primary {
    background-color: $white;
    color: $black;
  }
}
