<div class="category-container">
  <h2>#show_sub</h2>
  <h3>category name: <%= @sub_category.category_name %></h3>
  <h3>category id: <%= @sub_category.id %></h3>
  <h3>parent category is: <%= @parent_category.category_name %></h3>
  <h3>parent_category id: <%= @parent_category.id %></h3>
</div>
