<div class="category-container">
  <h1><%= @category.category_name.capitalize %></h1>
</div>
<ul>
  <% @sub_categories.each do |sub| %>
    <%#= link_to '', category_sub_path(9) do %>
      <li><%= sub.category_name.capitalize %></li>
    <%# end %>
  <% end %>
</ul>
