<div class="category-container">
  <div class="dashboard-search">
    <input class="form-control" type="search" placeholder="Search for stuff" arialabel="search">
    <button class="btn btn-primary" type="submit" arialabel="search">Search</button>
  </div>
  <h2>show.html.erb</h2>
  <h1><%= @category.category_name.capitalize %></h1>
  <div class="row row-cols-4 categories">
    <% @sub_categories.each do |sub| %>
      <div class="col">
        <%= link_to category_sub_path(sub), class: "category-link" do %>
            <i class="<%= sub.fa_icon %>"></i>
            <span><%= sub.category_name %></span>
        <% end %>
      </div>
    <% end %>

  </div>
</div>
